       <h3>Staff-Only Dashboard</h3> 
      <div class="row"> 

       <div class="col-md-4">
          <h2>Submit Violation</h2>
          <p>Submit a violation to the database here.</p>
          <p><a class="btn btn-default" href="form_newviolation.php" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Find User</h2>
          <p>Search Database for Users and their listed Violations.</p>
          <p><a class="btn btn-default" href="FindUser.html" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>Health and Safety</h2>
          <p>All health and safety violations listed here.</p>
          <p><a class="btn btn-default" href="HealthandSafety.html" role="button">View details &raquo;</a></p>
        </div> 
               </div>      <!-- end of row -->